@use '../Styles/var.scss';
@import '../Styles//var.scss';

.Actors {
    @extend %defFlex;
    text-align: center;
    @include var.box($margin:100px 0 0 0);

    .container {
        @include var.sizes($width:100%, $height:100%);
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .actor {
            background-color: $opacityDark;
            border-radius: 10px;
            margin: 10px;
            box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.53);
            transition: .5s all ease;

            &:hover {
                color: var.$dark;
                background-color: $light;
            }

            img {
                @include var.sizes($width:100%, $height:450px);
                @extend %setBackground;
            }

            &:hover {
                img {
                    @include var.sizes($width:90%, $height:450px);
                    transition: 0.3s all ease;
                }
            }
        }

    }

}

@media(max-width: 1200px) {
    .Actors {
        .container {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media(max-width: 900px) {
    .Actors {
        .container {
            grid-template-columns: 1fr;
        }
    }
}