@use '../Styles/var.scss';
@import '../Styles//var.scss';


.Home {
    font-family: var.$font-families;
    @include var.sizes($width:100%, $height:auto);
    @extend %defFlex;
    flex-direction: column;
    color: var.$light;

    .background {
        @include var.sizes($width:100%);
        filter: brightness(30%);
    }

    .background img {
        @include var.sizes($width:100%, $height:100vh);
        @extend %setBackground;
    }


    .homeContainer {
        position: sticky;
        max-width: 600px;
        @include var.box($margin:-500px 0 150px 0, $padding:30px);
        text-align: center;
        background-color: $opacityDark;
        border-radius: 15px;
        transition: 0.4s all ease;

        &:hover {
            background-color: $grey;
            color: var.$dark;
        }

        h1 {
            color: $light;
        }

        p {
            max-width: 600px;
            font-size: 20px;
            font-weight: 200;
            @include var.box($margin:0 0 10px 0, $padding:5px);
            border-radius: 3px;
        }

        button {
            @extend %button;
        }
    }
    .icon{
        margin: -100px 0 100px 0;
        position: sticky;
        top: 400px;
        img{
            @include var.sizes($width:50px, $height:50px);
        }
        @include var.animation('slide-down 2s infinite ease-out');
    }
}