@use '../Styles/var.scss';
@import '../Styles//var.scss';

.Story {
    @extend %defFlex;
    @include var.sizes($width:100%, $height:auto);
    @include var.box($margin:100px 0 0 0, $padding:0px);
text-align: center;
    .storyContainer {
        @include var.sizes($width:90%, $height:auto);


        section {
            display: flex;
            justify-content: center;
            flex-direction: row;
            @include var.box($margin:0 0 100px 0, $padding:0);
            border-radius: 10px;

            h2 {
                text-align: center;
            }
            .text{
                width: 100%;
                @include var.box($margin:0, $padding:10px);

            }
            img {
                flex: 100%;
                @include var.sizes($width:400px, $height:auto);
                @extend %setBackground
            }

            transition: 1s all ease;

            &:hover {

                transition: 1s all ease;

                background-color: var.$black;

            }
        }

        section:nth-child(odd) {
            grid-template-columns: 1fr 2fr;

            img {
                order: 1;
            }

            .text {
                order: 2;
            }
        }
    }
}

@media(max-width:900px) {
    .Story {
      
        text-align: center;
        .storyContainer{
            section {
                display: flex;
        flex-direction: column;

            }
            section:nth-child(odd) {
    
                img {
                    order: 1;
                }
    
                .text {
                    order: 2;
                    text-align: left;
                }

            }
            section:nth-child(even) {
            
    
                img {
                    order: 1;
                }
    
                .text {
                    order: 2;
                    text-align: left;
                }

            }
        }
        
    }
}